@font-face {
	font-family: "Fixedsys Excelsior";
	src: url("font.ttf");
}

* {
	background-color: black;
	color: white;
	font-family: "Fixedsys Excelsior";
}

fieldset {
	max-width: 380.8px;
	min-width: 380.8px;
	height: 173px;
	overflow: hidden;
}

.biggest {
	font-size: xx-large;
}

.bigger {
	font-size: x-large;
}

.big {
	font-size: large;
}

.invisible {
	opacity: 0;
	white-space: nowrap;
}

.disabled-button {
	color: gray;
	border-color: gray;
	pointer-events: none;
}

.uploaded-button {
	margin-inline: 15px;
}

.file {
	border: 1px dashed white;
	border-radius: 3px;
	max-width: 120px;
	min-width: 120px;
	overflow-wrap: break-word;
}

#bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#storage-used {
	white-space: nowrap;
}

#file-list {
	overflow-y: scroll;
	height: 120px;
}
