@font-face {
	font-family: "Fixedsys Excelsior";
	src: url("font.ttf");
}

* {
	background-color: black;
	color: white;
	font-family: "Fixedsys Excelsior";
}

fieldset {
	max-width: 380.8px;
	min-width: 380.8px;
	height: 173px;
	overflow: hidden;
}

.biggest {
	font-size: xx-large;
}

.bigger {
	font-size: x-large;
}

.big {
	font-size: large;
}