@font-face {
	font-family: "Fixedsys Excelsior";
	src: url("font.ttf");
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fade-red {
	from {
		border-color: white;
		color: white;
	}

	to {
		border-color: red;
		color: red;
	}
}

@media screen and (min-width: 640px) {
    body {
		overflow-x: hidden;
        transform: scale(2);
		transform-origin: top center;
    }

	#preview-file {
		min-width: 5%;
		max-width: 10%;
	}
}

@media screen and (max-width: 640px) {
	#preview-file {
		min-width: 20%;
		max-width: 40%;
	}
}

* {
	background-color: black;
	color: white;
	font-family: "Fixedsys Excelsior";
}

fieldset {
	max-width: 380.8px;
	min-width: 380.8px;
	height: 173px;
	overflow: hidden;
}

.biggest {
	font-size: xx-large;
}

.bigger {
	font-size: x-large;
}

.big {
	font-size: large;
}

.invisible {
	opacity: 0;
	white-space: nowrap;
}

.disabled-button {
	color: gray;
	border-color: gray;
	pointer-events: none;
}

.uploaded-button {
	margin-inline: 15px;
}

.file {
	border: 1px dashed white;
	border-radius: 3px;
	max-width: 115px;
	min-width: 115px;
	overflow-wrap: break-word;
}

#bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#storage-used {
	white-space: nowrap;
}

#file-list {
	overflow-y: scroll;
	height: 120px;
	scrollbar-color: lightgray black;
	scrollbar-width: thin;
}

#preview-file {
	height: auto;
}

::-webkit-scrollbar-track  {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: lightgray;
}
